<!-- Breadcrumb -->
<div class="container p-t-10 p-b-10 bg0">
    <div class="headline p-rl-20 p-tb-8">
        <div class="f2-s-1 p-r-30 m-tb-6"  aria-label="breadcrumb">
            <div class="breadcrumb">
                <a href="/" class="breadcrumb-item f1-s-3 cl9 text-decoration-none">
                    Ana səhifə
                </a>
                <span class="breadcrumb-item active f1-s-3 cl9" aria-current="page" title="<%= name %>">
                    <%= name %>
                </span>
            </div>
        </div>
    </div>
</div>