<% if (allTags.length > 0) { %>
    <!-- Tag -->
    <div class="p-b-55">
        <div class="how2 how2-cl4 flex-s-c m-b-30">
            <span class="f1-m-2 cl3 tab01-title">
                Taglar
            </span>
        </div>

        <div class="flex-wr-s-s m-rl--5">
            <% allTags.forEach((tag)=> { %>
                <a href="/news?tag=<%= tag.key %>" title="<%= tag.name %>" class="bo-1-rad-20 bocl19 f1-s-1 cl19 hov-btn3 trans-03 p-rl-10 p-tb-5 m-l-5 m-t-5 text-decoration-none">
                    <%= tag.name %>
                </a>
            <% }) %>
        </div>
    </div>
<% } %>