<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">

        <div class="d-none d-lg-inline-block">
            <a href="javascript:void(0)" class="footer-link me-4">Məlumat</a>
            <a href="javascript:void(0)" class="footer-link">Dəstək</a>
        </div>
    </div>
</footer>
<!-- / Footer -->

<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<script src="/libs/admin/jquery/jquery.js"></script>
<script src="/libs/admin/popper/popper.js"></script>
<script src="/libs/vendor/admin/js/bootstrap.js"></script>
<script src="/libs/admin/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/libs/vendor/admin/js/menu.js"></script>

<!-- Main JS -->
<script src="/javascripts/admin/main.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Create and edit button's actions for the modal -->
<script src="/javascripts/admin/custom.js"></script>

</body>

</html>