<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="revised" content="">

    <!-- * Meta tags for Facebook and LinkedIn -->
    <meta name="og:locale" content="az_AZ">
    <meta name="og:type" content="website">
    <meta name="og:url" content="">
    <meta name="og:title" content="">
    <meta name="og:description" content="">
    <!-- Image for Facebook -->
    <meta name="og:image" content="/public/images/uploads/facebook-image.png">
    <meta name="og:image:width" content="1000">
    <meta name="og:image:height" content="1000">
    <meta name="og:image:alt" content="WebSite logo for Facebook">
    <!-- Image for Linkedin -->
    <meta name="og:image" content="/public/images/uploads/linkedin-image.png">
    <meta name="og:image:width" content="180">
    <meta name="og:image:height" content="110">
    <meta name="og:image:alt" content="WebSite logo for LinkedIn">

    <!-- * Meta tags for Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="">
    <!-- <meta name="twitter:site" content="@tulippoaz"> -->
    <meta name="twitter:creator" content="@Galib22703428">
    <meta name="twitter:description" content="">
    <meta name="twitter:url" content="">
    <meta name="twitter:image" content="/public/images/uploads/twitter-image.png">
    <meta name="twitter:image:alt" content="WebSite logo for Twitter">






















    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/libs/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/libs/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/libs/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/libs/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/libs/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/libs/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/util.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <!--===============================================================================================-->
</head>

<body class="animsition" style="background-color: rgb(239, 239, 239);">