<!-- Header -->
<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="/"><img src="/images/icons/logo-01.png" alt="IMG-LOGO"></a>
            </div>

            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>

        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="main-menu-m">
                <li class="<%= key === 'home' ? 'main-menu-active' : '' %>">
                    <a href="/"> Ana səhifə </a>
                </li>
                <li>
                    <a href="/about"> Haqqımızda </a>
                </li>
                <li>
                    <a href="/news"> Xəbərlər </a>
                </li>
            </ul>
        </div>

        <!--  -->
        <div class="wrap-logo container">
            <!-- Logo desktop -->
            <div class="logo">
                <a href="/"><img src="/images/icons/logo-01.png" alt="LOGO"></a>
            </div>

            <!-- Banner -->
            <div class="banner-header">
                <a href="/"><img src="/images/banners/banner-01.jpg" alt="IMG"></a>
            </div>
        </div>

        <!--  -->
        <div class="wrap-main-nav">
            <div class="main-nav">
                <!-- Menu desktop -->
                <nav class="menu-desktop">
                    <a class="logo-stick" href="/">
                        <img src="/images/icons/logo-01.png" alt="LOGO">
                    </a>

                    <ul class="main-menu">
                        <li class="<%= key === 'home' ? 'main-menu-active' : '' %>">
                            <a href="/"> Ana səhifə </a>
                        </li>
                        <li class="<%= key === 'about' ? 'main-menu-active' : '' %>">
                            <a href="/about"> Haqqımızda </a>
                        </li>
                        <li class="<%= key === 'news' ? 'main-menu-active' : '' %>">
                            <a href="/news"> Xəbərlər </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>