<!-- Subscribe -->
<div class="bg10 p-rl-35 p-t-28 p-b-35 m-b-55">
    <h5 class="f1-m-5 cl0 p-b-10">
        Abunəlik
    </h5>

    <p class="f1-s-1 cl0 p-b-25">
        Xəbərlərdən qısa zamanda məlumatlandırılmaq üçün abunə ola bilərsiniz.
    </p>

    <div class="alert" id="alert-box" style="display: none;" role="alert"></div>

    <form class="size-a-9 pos-relative" id="subscribeForm">
        <input class="s-full f1-m-6 cl6 plh9 p-l-20 p-r-55" type="text" name="email" placeholder="Email" required>
        <button class="size-a-10 flex-c-c ab-t-r fs-16 cl9 hov-cl10 trans-03" type="submit">
            <i class="fa fa-arrow-right"></i>
        </button>
    </form>
</div>

<script>
    let alertBox = document.getElementById('alert-box');
    let timeout = 4000;

    let getAlert = (data) => {
        alertBox.style.display = 'block';
        alertBox.classList.add(`alert-${data.status}`);
        alertBox.innerHTML = data.message;
    };

    let clearAlert = (data) => {
        setTimeout(() => {
            alertBox.style.display = 'none';
            alertBox.classList.remove(`alert-${data.status}`);
            alertBox.innerHTML = '';
        }, timeout);
    }

    let subscribeForm = document.querySelector('#subscribeForm');
    subscribeForm.addEventListener('submit', async (event) => {
        event.preventDefault(); // Prevent the default form submission behavior

        // Get the form data
        let email = subscribeForm.email.value.trim();

        try {
            let res = await fetch('/subscribe', {
            method: 'POST',
            body: JSON.stringify({
                email,
            }),
            headers: {
                'Content-type': 'application/json'
            },
        });
        const data = await res.json();
        getAlert(data);
        clearAlert(data);
        subscribeForm.email.value = '';

        } catch (error) {
            return error;
        }
    });

    
</script>